body{font-family:Arial,sans-serif;margin:0}
.content{margin:10px}
.footer{height:48px;background:#f5f5f5;width:100%}
.r{text-align:right}
td{vertical-align:top}
.v>tbody>tr:nth-child(odd){background:#efefef}
.b{text-decoration:none;padding:10px;background:#2a9;color:#fff;display:block;width:auto;border-radius:5px;}
.wifi{background:0 0;color:#00f;padding:5px;display:inline;border:0;}
input[type=text]{width:100%}
input[type=password]{width:100%}
input[type=submit]{color:#fff;text-align:left;cursor:pointer;border-radius:5px;font-size:medium;background:#b33;padding:9px!important;width:100%;border-style:none}
input[type=submit]:hover{background:#d44}
.s_green{padding:9px !important;width:100%;border-style:none;background:#3ba;color:#fff;text-align:left}
.tabs{display:flex;flex-direction:row;align-items:stretch;align-content:flex-end;justify-content:flex-start}
.tab{padding:10px 20px;display:inline-block;color:#333}
.panels{min-height:200px;overflow:hidden;padding:20px;border:2px solid #3ba;margin-bottom:1em;}
.radio{display:none}.panel{display:none}
.canvas{min-height:118px;background:#3ba;margin-bottom:20px;}
#r4:checked~.panels>#panel4,#r1:checked~.panels>#panel1,#r3:checked~.panels>#panel3,#r2:checked~.panels>#panel2{display:block}
#r4:checked~.tabs>#tab4,#r1:checked~.tabs>#tab1,#r3:checked~.tabs>#tab3,#r2:checked~.tabs>#tab2{background:#3ba;color:#fff}
